.HomeContainer {
    height: 100vh; 
    width: 100vw;
    padding: 60px;
    background: linear-gradient(135deg, #000000, #4B0082, #0000FF); 
    text-align: center;
    overflow: hidden !important; 
}

.HomeTitle {
    color: #FFFFFF; 
    margin-bottom: 20px;
}

.HomeDescription {
    color: #FAF7F0; 
    margin-bottom: 30px;
    font-size: 20px;
}

.DownloadButton {
    background-color: #0000FF; /* Blue button */
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.DownloadButton:hover {
    background-color: #4B0082; /* Indigo on hover */
    transform: scale(1.05);
}
